{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com  -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website Image Slider</title>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css 2/swiper-bundle.min.css' %}">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'serivces.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css 2/style.css' %}">
  </head>
  <body>
    <section class="main1 swiper mySwiper">
      <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
          <img src="{% static 'images/front.jpg' %}" alt="" class="image" />
          <div class="image-data">
            <span class="text">EASY WAY TO APPLY FOR THE DRIVING LICENSE.</span>
            <h2>
                Welcome, {{user.first_name.title|default:'Guest'}}
            </h2>
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Apply Now</a>
            {% else %}
                <a style="background-color: rgb(93 199 72) " class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Apply Now</a>
            {% endif %}
          </div>
        </div>
        <div class="slide swiper-slide">
            <img src="{% static 'images/slide2.jpg' %}" alt="" class="image" />
          <div class="image-data">
            <span class="text">HOW WELL DO YOU KNOW SIGNS ON THE ROAD.</span>
            <h2>
              Practice Sign Test
            </h2>
            <a style="background-color: rgb(93 199 72) " class="btn btn-primary btn-lg" href="{% url 'theorytest' %}" role="button">Take Test</a>
          </div>
        </div>
        
      </div>

      <div class="swiper-button-next nav-btn"></div>
      <div class="swiper-button-prev nav-btn"></div>
      <div class="swiper-pagination"></div>
    </section>
    <!-- Box
    <div class="box text-center">
      <div class="box-item">
          <i class="ti-vector"></i>
          <h6 class="box-title">Apply For Learner</h6>
          <p>.</p>
      </div>
      <div class="box-item">
          <i class="ti-filter"></i>
          <h6 class="box-title">Apply For License</h6>
          <p>.</p>
      </div>
      <div class="box-item">
          <i class="ti-mobile"></i>
          <h6 class="box-title">License Renewal</h6>
          <p>.</p>
      </div>
  </div> -->

    <!-- Swiper JS -->

    <script src="{% static 'JS 2/swiper-bundle.min.js' %}"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
        
    </script>
  </body>
</html>
